{% extends 'base.html' %}

{% block content %}

    <div class="container">
    <div class="box" style="background-color: lightgray">
        <p><strong>To edit or delete record, please go to the book page by clicking title</strong></p>
    </div>
        <div class="table-container">

            <table class="table is-striped is-narrow is-hoverable is-fullwidth">
                <thead>
                <tr class="is-selected">
                    <th>id</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>ISBN</th>
                    <th><abbr title="Publish date">Date</abbr></th>
                    <th><abbr title="Publish language">Language</abbr></th>
                    <th><abbr title="Number of pages">Number</abbr></th>
                    <th>Book cover</th>
                </tr>
                </thead>

                <tfoot>
                <tr class="is-selected">
                    <th>id</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>ISBN</th>
                    <th><abbr title="Publish date">Date</abbr></th>
                    <th><abbr title="Publish language">Language</abbr></th>
                    <th><abbr title="Number of pages">Number</abbr></th>
                    <th>Book cover</th>
                </tr>
                </tfoot>

                <tbody>
                {% for book in books %}
                    <tr>
                        <th>{{ book.id }}</th>
                        <td><a href="/book/{{ book.id }}">{{ book.title }}</a></td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.ISBN }}</td>
                        <td>{{ book.publish_date }}</td>
                        <td>{{ book.publish_lang }}</td>
                        <td>{{ book.num_of_pages }}</td>
                        <td><a href="{{ book.cover_link }}">Link</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}